@model IEnumerable<FluxoCaixa.Application.ViewModel.ActivityViewModel>
@{
    ViewData["Title"] = "Atividades";
}

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
</p>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    name
                    @* @Html.DisplayNameFor(model => model.Name) *@
                </th>
                <th>
                    Description
                    @* @Html.DisplayNameFor(model => model.Description) *@
                </th>
                <th>
                    Status
                    @* @Html.DisplayNameFor(model => model.Status) *@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                            <span class="fas fa-edit">Editar</span>
                        </a>
                        <a asp-action="Visualize" asp-route-id="@item.Id" title="Visualize" class="btn btn-warning">
                            <span class="fas fa-edit">Visualizar</span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="btn btn-warning">
                            <span class="fas fa-edit">Deletar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
