<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FluxoCaixa</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SFinanceiro.styles.css" asp-append-version="true" />
    <style>
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 200px;
            background-color: #007bff; /* Cor de fundo */
            padding-top: 20px;
        }

            .sidebar a.nav-link {
                color: white !important;
            }

                .sidebar a.nav-link:hover {
                    color: #f8f9fa !important; /* Cor ao passar o mouse */
                }

        .content {
            margin-left: 220px;
            padding: 20px;
        }
    </style>
</head>
<body style="background-color: ghostwhite;">

    <!-- Sidebar -->
    <div class="sidebar">
        <a class="navbar-brand d-block text-white mb-4" href="@Url.Action("Index", "Home")">FluxoCaixa</a>
        @Html.Partial("_LoginPartial")
    </div>

    <!-- Conteúdo principal -->
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Sistema de Fluxo de Caixa
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
